<div class="min-h-screen bg-slate-100">
  <div class="flex flex-col w-full fixed pin-l pin-y">
    <nav
      class="flex items-center justify-between flex-wrap bg-teal p-6 bg-gray-800"
    >
      <div class="flex items-center flex-no-shrink text-white mr-6">
        <img
          class="w-16 h-9"
          src="../../../../assets/svg/ZEUS_SVG.svg"
          alt=""
        />
      </div>

      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow"></div>
        <div>
          <a
            (click)="logout()"
            class="cursor-pointer block mt-4 lg:inline-block lg:mt-0 text-white hover:text-teal-lighter mr-4"
          >
            Sign Out
          </a>
        </div>
      </div>
    </nav>

    <div class="px-4 pt-4 flex-1 mt-40">
      <div class="container mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
